
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vanulkinn</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/icon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="photo-wrapper">
            <img src="https://i.ibb.co/1DZrf7w/76-20250314113047-1.png" alt="photo" class="photo">
        </div>
        <h1>vanulkin</h1>
        <p>IT enjoyer</p>
        <div class="links">
            <a href="https://github.com/vanulkin-git" class="link" target="_blank">GitHub</a>
            <a href="https://t.me/vanulkin" class="link" target="_blank">Telegram</a>
        </div>
        <div class="links">
            <a href="https://yoomoney.ru/to/4100118553770320" class="link" target="_blank">Buy me a coffee</a>
        </div>
    </div>
</body>
</html>